<header>
    <img src='../assets/img/burger.svg' alt='burger image'>
    {{!-- <div>Icons made by 
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik
        </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div> --}}

    <h1>Eat-Da-Burger!</h1>
</header> 

<div id='burger-container'>
    <div id='undevoured-container'>
        <ul>
            {{#each burgers}}
                {{#unless devour}}
                <li>
                    <p>
                        <span>{{id}}</span><span>. {{burger_name}}</span>
                    </p>
                    <button class='devour-btn'>Devour it!</button>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id='devoured-container'>
        <ul>
            {{#each burgers}}
                {{#if devour}}
                <li>
                    <span>{{id}}. {{burger_name}}</span>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<form method='POST' action='/'>
    <div>
        <input type='text' id='burger-input' name='burger-input'>
        <button type='submit' id='submit-btn'>Submit</button>
    </div>
    <label for='burger-input'>
        Enter a burger you want to eat then click the "Submit" button
    </label>
</form>


