<h1>Eat-Da-Burger!</h1>

<div id='undevoured-container'>
    <ul id='undevoured-list'></ul>
</div>

<div id='devoured-container'>
    <ul id='devoured-list'></ul>
</div>

<form method='POST' action='/'>
    <label for='burger-input'>Title</label>
    <input type='text' id='burger-input' name='burger-input'>
    <button type='submit' id='submit-btn'>Submit</button>
</form>

<div id='msg-container'>
    <p>Enter a burger you want to eat and click the "submit" button!</p>
</div>