@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// ---------- Sass Variables --------- //

$tangerine: rgb(253, 234, 122);
$bloodOrange: rgb(231, 69, 20);
$brightOrange: rgb(255, 166, 0);
$lighterBlue: rgb(62, 175, 209);
$darkerBlue: rgb(2,117,216);
$darkGrey: rgb(24, 24, 24);

// ---------- Sass Mixins --------- //

@mixin flex ($direction, $content) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}

// ---------- CSS Reset --------- //

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

// ---------- Base Styles --------- //

body {
    @include flex(column, center);
    background-color: $tangerine;
    color: $bloodOrange;
    font-family: 'Open Sans', sans-serif;
    ul {
        list-style: none;
    }
    button {
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
    }
}

// ---------- Header Styles --------- //

header {
    @include flex(row, center);
    margin-top: 16px;
    img {
        height: 50px;
        width: 50px;
    }
    h1 {
        color: $bloodOrange;
        font-size: 1.6em;
        font-weight: lighter;
        margin: 8px 0 0 16px;
    }
}

// ---------- Burger List Styles --------- //

#burger-container {
    @include flex(column, space-around);
    margin: 18px 10px 0;
    div {
        margin: 8px;
        ul {
            li {
                @include flex(row, space-between);
                span, 
                button {
                    font-size: 0.7em;
                    margin: 5px;
                    padding: 5px;
                }
                span {
                    background-color: white;
                    border: 2px solid $brightOrange;
                    border-radius: 5px;
                    color: $darkGrey;
                    width: 68%;
                }
                button {
                    background-image: linear-gradient($brightOrange, $bloodOrange);
                }
            }
        }
    }
}

// ---------- Form Styles --------- //

form {
    @include flex(column, center);
    margin: 10px;
    div {
        margin: 10px auto;
        input {
            border: 2px solid $lighterBlue;
            border-radius: 5px;
            margin-right: 6px;
            padding: 8px;
        }
        button {
            background-image: linear-gradient($lighterBlue, $darkerBlue);
            font-size: 0.8em;
            padding: 8px 20px;
        }
    }
    label {
        color: $darkGrey;
        font-size: 0.8em;
        margin: 0 20px;
        text-align: center;
    }
}

// ---------- Media Queries --------- //

@media (min-width: 568px) {
    header {
        img {
            height: 70px;
            width: 70px;
        }
        h1 {
            font-size: 2em;
            margin: 10px 0 0 16px;
        }
    }
    #burger-container {
        margin-top: 16px;
        div {
            width: 50%;
            ul {
                li {
                    span, 
                    button {
                        font-size: 0.6em;
                        margin: 6px;
                        padding: 4px;
                    }
                    span {
                        width: 66%;
                    }
                }
            }
        }
    }
    form {
        margin: 8px auto;
        div {
            input {
                margin-right: 8px;
            }
        }
    }
}

@media (min-width: 736px) {
    header {
        @include flex(column, center);
        img {
            height: 150px;
            margin: 30px auto 10px;
            width: 150px;
        }
        
        h1 {
            font-size: 2.2em;
            margin: 10px auto;
        }
    }
    #burger-container {
        margin-top: 40px;
        padding: 0 40px;
        @include flex(row, space-around);
        div {
            margin: 8px;
            ul {
                li {
                    span, 
                    button {
                        font-size: 0.8em;
                        margin: 8px;
                    }
                    span {
                        width: 70%;
                    }
                }
            }
        }
    }
    form {
        margin: 20px auto;
        div {
            margin: 10px auto;
            input {
                padding: 8px;
            }
            button {
                font-size: 0.8em;
                padding: 8px 20px;
            }
        }
        label {
            font-size: 0.9em;
        }
    }
}

@media (min-width: 1024px) {
    header {
        img {
            height: 200px;
            width: 200px;
        }
    }
    #burger-container {
        margin-top: 0;
        div {
            margin: 10px;
            width: 50%;
            ul {
                padding: 10px;
                li {
                    span, 
                    button {
                        font-size: 0.9em;
                        padding: 8px;
                    }
                }
            }
        }
    }
    form {
        div {
            input {
                margin-right: 8px;
                padding: 10px;
            }
            button {
                font-size: 1em;
            }
        }
        label {
            font-size: 1em;
        }
    }
}

@media (min-width: 1200px) {
    header {
        margin-top: 0px;
        h1 {
            font-size: 2.4em;
        }
    }
    #burger-container {
        margin: 10px 50px;
        div {
            ul {
                li {
                    span, 
                    button {
                        font-size: 1em;
                        margin: 6px;
                    }
                    span {
                        width: 76%;
                    }
                }
            }
        }
    }
    form {
        margin: 10px auto;
        div {
            margin: 10px auto;
            input {
                margin-right: 10px;
                padding: 14px;
                width: 300px;
            }
            button {
                padding: 12px 24px;
            }
        }
        label {
            font-size: 1em;
        }
    }
}

